<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>

    <div class="p-3 mb-3 bg-success text-dark text-center fs-2">Welcome to the Home Page</div>
        <div class="container p-3 mb-3 text-dark">
            <div class=" text='white' p-3 mb-3 bg-secondary text-start">
                <div  class="m-3 p-3 bg-info text-center ">
                    <h1 class="fs-5">Nexto</h1>
                    <p class="fw-light">Please fill the following details to continue<br></p>
                </div>
                
                <label for="user name" class="user-name">User name:</label>
                <input type="text" class="user-name"><br>
                <label for="Password" class="pass_word">Password:</label>
                <input type="password" class="pass_word"><br>
                <label for="email" class="your_email">Email:</label>
                <input type="email"class="your_email" text-dark><br>
                <label for="check_box" class="check"></label>
                <label for="radio-check-box" class="radio"></label>
                <input type="radio" class="radio p-3 mb-3 text-center fs-3">Male<br>
                <input type="checkbox" class="check">Remember me<br>
                <button  class="btn  btn-submit btn-success " >Submit</button>

            </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>